// This is auto included and overridden by the karmic style included in head

@side-padding: 40px;

.content{
  position: relative;
  color: #4C555A;

  font-size: 14px;
  line-height: 26px;

  h1{
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0;
    font-weight: 100;
  }

  h2{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
  }

  h3{
    color: #292E31;
    font-size: 24px;
    line-height: 24px;
    // font-weight: bold;
    letter-spacing: 0;
  }

}

.fill--entry{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  border-left-style:solid;
  border-right-style:solid;
  border-right-width: 1px;
  border-left-width: 1px;
}

.fill--example{
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
}

@vertical-gap: 50px;

.entry{
  margin-top:@vertical-gap*0.33;
  padding-top:@vertical-gap*0.66;
  border-top: 1px solid #ddd;
  padding-left: @side-padding;
  padding-right: @side-padding;
}

.example{
  margin-top:@vertical-gap;
  padding-top: 15px;
  color: #D0D4D7;

  // code blocks
  pre,code{
    border:none;
  }

  blockquote{
    padding:0;
    border:none;
    font-style: normal;
  }

}

.other{
  @media (min-width: 768px) {
    margin-right:50%;
    padding-left: @side-padding;
    padding-right: @side-padding;
  }
}

.tocify{
  margin-left:0;
}