body

  ul.col-xs-2.section.section--fog.nav
    //- Nav will autogenerate here

  //- div.col-xs-5.section.section--fog.section--example-bg.pull-right

  div.col-xs-10.col-xs-offset-2.section.section--white.content

    //- Include docs files here
    include:markdown /includes/demo.md

  