doctype
head
  title An example

  link(rel='stylesheet', href='https://getdash.io/css/karmic-style.css')
  script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
  script.
    $(document).ready(function(){
      //- grab every h1, h2, h3
      //- Note: these stay in DOM order
      $('h2, h3').each(function(){
        //- console.log($(this).text());

        //- If it's an H1 make a top level LI
        var navClass="";
        if($(this).is('h2')){navClass="nav__heading";}
        if($(this).is('h3')){navClass="nav__entry";}

        $('ul.nav').append('<li><a href="" class="'+navClass+'">'+$(this).text()+'</a></li>');
      
      });
      //- grab every h1, h2, h3
      //- print em to see what the orders like
    });
body

  ul.col-xs-2.section.section--fog.nav
    //- Stuff gets added here by the nav JS

  div.col-xs-10.section.section--fog
    //- Harp will let us loop through these, but that's
    //- a bad idea because it will include them in file
    //- order, which makes content difficult to arrange.

    //- This seems fine. Slate does something similar.

    include:markdown /includes/demo.md
